title: Redesigning Habit list
thumbnail: static/images/habit-list/thumb.png

description: Redesigning the popular habit tracker for iOS
tags: mobile, interaction, visual, icons
date: 21-05-2016
client: private
team: Arun Venkatesan
tools: Sketch, Framer, Invision

{% extends "post.html" %}
{% block body %}
{% filter markdown %}


Displays images in a grid, with individual pages optionally describing the image in detail, or displaying more images. Images have a max-width of 400 pixels by default.

{% endfilter %}
{% endblock body %}