title: Mushi Labs Logo

thumbnail: /static/images/mushi-labs/thumb.png
header: /static/images/mushi-labs/header.png

description: Designing the logo and brand for Mushi Labs
tags: branding, logo
date: 14-07-2016
client: Mushi Labs
team: Arun Venkatesan
tools: Illustrator, Sketch

{% extends "post.html" %}

{% block intro %}
{% filter markdown %}

This is the story of how I created the logo for my friend Bernard’s SEO consultancy, Mushi Labs. It was a process full of mistakes and lessons, but at the end, I am happy with the result.

It all started with a tweet from Bernard. After I tweeted about some warmup work I had posted on Dribble, my friend Bernard [tweeted me asking for help](https://twitter.com/bernardjhuang/status/747843104774881281 "Tweet").

{% endfilter %}
{% endblock intro %}

{% block body %}
{% filter markdown %}

<h2 class="mb2">Mistake #1: Not defining the problem</h2>
Since he is a friend, I had a dream of skipping the usual formality of a proposal, billing them upfront, etc. I wanted to deliver something amazing overnight. So, I started working on a full redesign of his site. I didn’t talk to him to confirm in detail what he was looking for or let him know what I was working on. 

I threw out my normal design process, worked all night on a single prototype of a new website in HTML/CSS and then sent him a screenshot of the responsive site I had fully built including animations:

{% include "lightbox.html" with link="/static/images/mushi-labs/web.png" %}

He got back to me after talking to his cofounder and told me that while the design was better than what they had at the moment, it wasn’t significantly better. After we chatted for a while, I realized that what they really wanted is a logo.

I had jumped into redesigning their website without fully understanding what the client wanted. Lesson learned. I should have followed my normal procedure and done my research to be very clear about the work I planned on doing (including sending a proposal).

<h2 class="mt4 mb2">Mistake #2: Going deep before going broad</h2>
While chatting with Bernard, he told me that he wanted to try a Japanese themed logo that looks like a paper crane. I told him that a few startups already use a paper crane as a logo. I asked him if any other symbols interested him. He suggested a koi fish.

Even though I had a feeling that it wouldn’t work, I tried it anyway. I sketched and sketched for a few days, but I couldn’t make a koi fish that worked both as a large logo and as a small favicon for a website. I talked to Bernard again and discussed the results of my exploration. We decided that it would be good to try something more geometric, what I would have originally tried if I didn’t try the koi fish logo.

{% include "lightbox.html" with link="/static/images/mushi-labs/koi_sketches.png" responsive=True%}

<h2 class="mt4 mb2">Starting Over</h2>
This is when I decided to start over and approach it the way I normally would have with any other client. I researched their competitors and collected some inspiration and references from the web and from some logo books I have on my bookshelf. 

I then quickly sketched different geometric designs with pencil and paper.

{% include "lightbox.html" with link="/static/images/mushi-labs/mushi_sketches.png" responsive=True%}

I then brought all the designs I liked into Illustrator to start tweaking them and visualizing them on business cards, as favicons, etc. Here are some eventually rejected logos that made it to this stage.

{% include "lightbox.html" with link="/static/images/mushi-labs/semis.png" responsive=True%}

I narrowed the list to the 3 logos I would be happy to deliver to Mushi Labs. I paired each one with an appropriate typeface and created a mockup image in Photoshop to show each logo on a building sign, on a business card and on the web. I sent them off and waited.

{% include "images-tiled.html" with images="/static/images/mushi-labs/Mushi_Select_1.png /static/images/mushi-labs/Mushi_Select_2.png /static/images/mushi-labs/Mushi_Select_3.png" responsive=True %}

After discussing it, they came back and told me that they liked the third one the best. I was so happy at this point as this was my favorite as well. I then started working on the final deliverables.

{% include "lightbox.html" with link="/static/images/mushi-labs/Final.png" responsive=True%}

At the end, I sent them a zip file including a style guide describing how to use the logo, vector files in both RGB and CMYK and raster images of various sizes.

<h2 class="mt4 mb2">Final Thoughts</h2>
- I learned that I need to probe deep to understand a client’s true goals and requirements before I start anything.
- I should go broad and try many different ideas before focusing on a single one.
- Even though I went deep into a hole with the koi fish, showing my failed explorations to the client was much better and they agreed to my direction much quicker.
- I should be deliberate when throwing out my normal design process and not just do it on a whim.

{% endfilter %}

{% endblock body %}