body {
    font-size: 110%;
}

.max-sm {
    max-width: 960px;
}
.svg-icon {
    fill: currentColor;
}
a {
    color: #999;
}
a:hover {
    text-decoration: none;
    color: #000;
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}
.dark-gray {
    color: #999;
}
.rainbow {
    -webkit-animation: hue-rotate 60s infinite linear;
}
@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
.aqua-gradient-bg {
    background: rgba(127, 251, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(127, 251, 255, 1) 0%, rgba(127, 191, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(127, 251, 255, 1)), color-stop(100%, rgba(127, 191, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(127, 251, 255, 1) 0%, rgba(127, 191, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(127, 251, 255, 1) 0%, rgba(127, 191, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(127, 251, 255, 1) 0%, rgba(127, 191, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(127, 251, 255, 1) 0%, rgba(127, 191, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7ffbff', endColorstr='#7fbfff', GradientType=1);
}
@media (min-width: 52em) {
	.md-pt1,
    .md-py1 {
        padding-top: .5rem;
    }
    .md-pr1,
    .md-px1 {
        padding-right: .5rem;
    }
    .md-pb1,
    .md-py1 {
        padding-bottom: .5rem;
    }
    .md-pl1,
    .md-px1 {
        padding-left: .5rem;
    }
    .md-p1{
        padding: .5rem;
    }

	.md-pt2,
    .md-py2 {
        padding-top: 1rem;
    }
    .md-pr2,
    .md-px2 {
        padding-right: 1rem;
    }
    .md-pb2,
    .md-py2 {
        padding-bottom: 1rem;
    }
    .md-pl2,
    .md-px2 {
        padding-left: 1rem;
    }
    .md-p2{
        padding: .1rem;
    }

	.md-pt3,
    .md-py3 {
        padding-top: 2rem;
    }
    .md-pr3,
    .md-px3 {
        padding-right: 2rem;
    }
    .md-pb3,
    .md-py3 {
        padding-bottom: 2rem;
    }
    .md-pl3,
    .md-px3 {
        padding-left: 2rem;
    }
    .md-p3{
        padding: .2rem;
    }

    .md-pt4,
    .md-py4 {
        padding-top: 4rem;
    }
    .md-pr4,
    .md-px4 {
        padding-right: 4rem;
    }
    .md-pb4,
    .md-py4 {
        padding-bottom: 4rem;
    }
    .md-pl4,
    .md-px4 {
        padding-left: 4rem;
    }
    .md-p4{
        padding: .4rem;
    }
}
.bg-white-95 {
	background-color: rgba(255,255,255,.95);
}

.hover-show {
	opacity: 0;
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}
.hover-show:hover {
	opacity: 1;
}

p,li {
	line-height: 1.65;
}

.max-nn {
    max-width: 720px;
}
.nn-type *:not(img):not(figure) {
    max-width: 720px;
    margin-left:auto;
    margin-right: auto;
}