{% extends "base.html" %}
{% block title %}Blog - Arun Venkatesan{% endblock %}
{% block content %}
	{% include "header.html" with active="blog" %}
	{% include "title.html" with title="Blog" %}
	<section class="flex-1 clearfix max-sm nn-type mx-auto mt0 md-pt3 px2">
{% filter markdown %}

<a href="https://medium.com/endless/past-me-versus-future-me-dc44a488544f" class="black">
##Past-Me Versus Future-Me
<p>
	This creative non-fiction about language, cities and my inner monologue started as a note on my computer. Through editing and honing it was published on Endless Magazine (formerly Absurdist).
</p>
</a>

{% include "spacer-small.html" %}

<a href="http://www.arunhasablog.com/2015/01/16/how-i-abandoned-vegetarianism/" class="black">
##How I Abandoned Vegetarianism
<p>
	This is the story of how I left vegetarianism. I radically changed my diet and in the process, changed my identity.
</p>
</a>

{% include "spacer-small.html" %}

<a href="http://www.arunhasablog.com/2013/11/05/im-a-burner-my-experience-at-burning-man-2013/" class="black">
##I’m a Burner: My Experience at Burning Man 2013
<p>
	In 2013, I attended the Burning Man festival in Block Rock City, Nevada. This is the story of my experience there and the profound experience it has had on my life.
</p>
</a>

{% include "spacer-small.html" %}

<a href="http://www.arunhasablog.com/2010/01/30/omegle-bot-hilarity/" class="black">
##Omegle Bot Hilarity
<p>
	While in college, I set up a bot that talks to strangers on Omegle and left it on overnight. Hilariously, a girl from Scotland talked with it for an hour or so.
</p>
</a>

{% include "spacer-small.html" %}

<a href="http://www.arunhasablog.com/2014/12/18/building-my-own-speakers/" class="black">
##Building My Own Speakers
<p>
	I built my own speakers from a kit comprising wood and electrical components. I learned about wood working, basic speaker design and working with my hands.
</p>
</a>
{% endfilter %}
	</section>
	{% include "footer.html"%}
{% endblock content %}
