{% extends "base.html" %}
{% block content %}
	{% include "header.html" with active="blog" %}
	{% include "title.html" with title="Blog" %}
	<section class="flex-1 clearfix max-sm nn-type mx-auto mt0 md-pt3 px2">
{% filter markdown %}
I'm currently constructing my new blog. Until then, feel free to read some of my older writing from Medium and ArunHasABlog.com:

- [Past-Me Versus Future-Me](https://medium.com/endless/past-me-versus-future-me-dc44a488544f "Past-Me Versus Future-Me")
- [How I Abandoned Vegetarianism](http://www.arunhasablog.com/2015/01/16/how-i-abandoned-vegetarianism/ "How I Abandoned Vegetarianism")
- [I’m a Burner: My Experience at Burning Man 2013](http://www.arunhasablog.com/2013/11/05/im-a-burner-my-experience-at-burning-man-2013/ "I’m a Burner: My Experience at Burning Man 2013")
- [Omegle Bot Hilarity](http://www.arunhasablog.com/2010/01/30/omegle-bot-hilarity/ "Omegle Bot Hilarity")
- [Building My Own Speakers](http://www.arunhasablog.com/2014/12/18/building-my-own-speakers/ "Building My Own Speakers")

{% endfilter %}
	</section>
	{% include "footer.html"%}
{% endblock content %}