{% extends "base.html" %}
{% block content %}
	<section>
		{% include "header.html" with active="home" %}
		<h1 class="center pt4 px2">
			My name is <br class="sm-hide">Arun Venkatesan
		</h1>
		<h3 class="center pb4 px2 dark-gray">
			I am a Product Designer with a background in Software Engineering
		</h3>
		<section class="clearfix max-sm mx-auto pt3 pl2 mt3">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<div class="clearfix relative col col-12 sm-col-4 pr2 pb2">
						<img src="{{ post.thumbnail }}">
						<div class="absolute top-0 left-0 right-0 bottom-0 py2 px3 mr2 mb2 bg-white-95 hover-show">
							<h3 class="mb0">
								{% autoescape off %}{{ post.title }}{% endautoescape %}
							</h3>
							<h5 class="mt0">
								{{ post.date|date:"Y" }}
							</h5>
							<p class="mt3">
								{{ post.description }}
							</p>
							<h5 class="absolute bottom-0 pb3">
								{{ post.tags }}
							</h5>
						</div>
					</div>
					</a>
			{% endfor %}
		</section>
		<h3 class="center pb4 px2 dark-gray">
			View All Work  &rarr;
		</h3>
		<!--<section id="thumbnails" class="clearfix">
			{% for post in posts %}
				<a href='/{{ post.path }}'>
					<img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
					<span>{{ post.title }}</span>
				</a>
			{% endfor %}
		</section>-->

		<!--{% block footer %}
			<footer id="footer">
				<p class="small">A short description.</p>
			</footer>
		{% endblock footer %}-->
	</section>
{% endblock content %}
