{% extends "base.html" %}
{% block content %}
	{% include "header.html" with active="home" %}
	<h1 class="center pt4 px2">
		My name is <br class="sm-hide">Arun Venkatesan
	</h1>
	<h3 class="center pb4 px2 dark-gray">
		I am a Product Designer with a background in Software Engineering
	</h3>
	<h5 class="caps center pt4 dark-gray">select clients</h5>
	<section class="flex-1 clearfix max-sm mx-auto pl2">
		<img class="2x col col-12 sm-col-3 pr2 pb2" src="static/images/clients/udacity.png">
		<img class="2x col col-12 sm-col-3 pr2 pb2" src="static/images/clients/carrot.png">
		<img class="2x col col-12 sm-col-3 pr2 pb2" src="static/images/clients/anuta.png">
		<img class="2x col col-12 sm-col-3 pr2 pb2" src="static/images/clients/mushi.png">
	</section>
	{% include "footer.html"%}
{% endblock content %}
