<header class="max-sm mx-auto" style="width:100%;">
	<div class="md-hide center pt2">
	{% if active == "home" %}
		<a style="letter-spacing: -0.3em;" class="black" href="/">
			▲▼
		</a>
	{% else %}
		<a style="letter-spacing: -0.3em;" class="gray" href="/">
			▲▼
		</a>
	{% endif %}
	</div>
	<div class="flex flex-justify py3 md-py4 px2">
		{% if active == "work" %}
			<a class="black" href="/work.html">
				Work
			</a>
		{% else %}
			<a class="gray" href="/work.html">
				Work
			</a>
		{% endif %}
		{% if active == "photos" %}
			<a class="black" href="/photos.html">
				Photos
			</a>
		{% else %}
			<a class="gray" href="/photos.html">
				Photos
			</a>
		{% endif %}
		{% if active == "home" %}
			<a style="letter-spacing: -0.3em;" class="logo md-show black" href="/">
				▲▼
			</a>
		{% else %}
			<a style="letter-spacing: -0.3em;" class="logo md-show gray" href="/">
				▲▼
			</a>
		{% endif %}
		{% if active == "blog" %}
			<a class="right-align black" href="/blog.html">
				Blog
			</a>
		{% else %}
			<a class="gray" href="/blog.html">
				Blog
			</a>
		{% endif %}
		{% if active == "about" %}
			<a class="black" href="/about.html">
				About
			</a>
		{% else %}
			<a class="gray" href="/about.html">
				About
			</a>
		{% endif %}
	</div>
</header>
