<header class="max-sm mx-auto" style="width:100%;">
	<div class="flex my3 md-py4 px2">
		{% if active == "work" %}
			<a class="flex-auto black" href="/work.html">
				Work
			</a>
		{% else %}
			<a class="flex-auto gray" href="/work.html">
				Work
			</a>
		{% endif %}
		{% if active == "blog" %}
			<a class="flex-auto black" href="/blog.html">
				Blog
			</a>
		{% else %}
			<a class="flex-auto gray" href="/blog.html">
				Blog
			</a>
		{% endif %}
		{% if active == "home" %}
			<a style="letter-spacing: -0.3em;" class="black" href="/">
				▲▼
			</a>
		{% else %}
			<a style="letter-spacing: -0.3em;" class="gray" href="/">
				▲▼
			</a>
		{% endif %}
		{% if active == "photos" %}
			<a class="flex-auto right-align black" href="">
				Photos
			</a>
		{% else %}
			<a class="flex-auto right-align gray" href="">
				Photos
			</a>
		{% endif %}
		{% if active == "about" %}
			<a class="flex-auto right-align black" href="/about.html">
				About
			</a>
		{% else %}
			<a class="flex-auto right-align gray" href="/about.html">
				About
			</a>
		{% endif %}
	</div>
</header>