{% extends "index.html" %}
{% block content %}
	{% include "header.html" with active="work" %}
	<section class="max-sm mx-auto px2">
		<img class="2x" src="{{ header }}">
	</section>
	<h2 class="center mt4">
		{{ title }}
	</h2>
	<section class="clearfix max-sm mx-auto pt3 pl2 mt3">
		<div class="col col-12 sm-col-6 pr2 pb2">
			<h4 class="dark-gray">
				<span class="black">Date:</span> {{ date|date:"Y" }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Client:</span> {{ client }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Team:</span> {{ team }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Work:</span> {{ tags }}
			</h4>
		</div>
		<div class="col col-12 sm-col-6 pr2 pb2">
			{% block intro %}
			{% endblock intro %}
		</div>
	</section>
	<!--<section id="wrapper" class="post clearfix">
		<header id="header">
			<a href="/"><h1>Portfolio</h1></a>
			{% block nav %}
				{{ block.super }}
			{% endblock nav %}
		</header>

		<article class="post">
			<section class="post-body">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
		</article>

		<footer id="post-meta" class="clearfix">
			<div class="date">{{ date|date:"M j" }}</div>
			{% if tags %}
				<div><span>Tags</span> {{ tags }} </div>
			{% endif %}
		</footer>

		<footer class="post-footer">
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	</section>-->

{% endblock content %}