{% extends "index.html" %}
{% block og-author %}<meta property="article:author" content="23917660">{% endblock %}
{% block og-title %}{{ title }}{% endblock %}
{% block og-image %}http://www.arun.is{{ header }}{% endblock %}
{% block og-type %}article{% endblock %}
{% block content %}
	{% include "header.html" with active="work" %}
	<section class="max-sm mx-auto center px2 pb2">
		<img class="2x" src="{{ header }}">
	</section>
	<h1 class="center mt4">
		{% autoescape off %}{{ title }}{% endautoescape %}
	</h1>
	<section class="clearfix max-nn mx-auto pt3 pl2 mt3">
		<div class="col col-12 sm-col-6 pr2 pb2">
			<hr class="sm-hide my2">
			<h4 class="dark-gray">
				<span class="black">Date:</span> {{ date|date:"Y" }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Client:</span> {{ client }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Team:</span> {{ team }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Work:</span> {{ tags }}
			</h4>
			<hr class="my2">
			<h4 class="dark-gray">
				<span class="black">Tools:</span> {{ tools }}
			</h4>
			<hr class="sm-hide my2">
		</div>
		<div class="col col-12 sm-col-6 pr2">
			{% block intro %}
			{% endblock intro %}
		</div>
	</section>
	<section class="flex-1 clearfix max-sm nn-type mx-auto mt0 md-pt3 px2">
		{% block body %}
		{% endblock body %}
	</section>
	<footer class="clearfix max-sm mx-auto" style="width:100%">
		<nav class="px2 pt4">
			<span class="left">
				{% if nextPost %}
					<a href='/{{ nextPost.path }}'>
						&larr; {% autoescape off %}{{ nextPost.title }}{% endautoescape %} 
					</a>
				{% endif %}
			</span>			
			<span class="right">
			{% if prevPost %}
				<a href='/{{ prevPost.path }}'>
					{% autoescape off %}{{ prevPost.title }}{% endautoescape %} &rarr;
				</a>
			{% endif %}
			</span>
		</nav>
	</footer>
	{% include "footer.html"%}

{% endblock content %}