{% extends "index.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

	<section id="wrapper" class="post clearfix">
		<header id="header">
			<a href="/"><h1>Portfolio</h1></a>
			{% block nav %}
				{{ block.super }}
			{% endblock nav %}
		</header>

		<article class="post">
			<section class="post-body">
				{% block body %}
					This is where the post contents is.
				{% endblock body %}
			</section>
		</article>

		<footer id="post-meta" class="clearfix">
			<div class="date">{{ date|date:"M j" }}</div>
			{% if tags %}
				<div><span>Tags</span> {{ tags }} </div>
			{% endif %}
		</footer>

		<footer class="post-footer">
			<nav id="post-nav">
				<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
				</span>

				<span class="next">
					{% if nextPost %}
						<a href='/{{ nextPost.path }}'>
							{{ nextPost.title }} <span class="arrow">&rarr;</span>
						</a>
					{% endif %}
				</span>
			</nav>
		</footer>
	</section>

{% endblock content %}